/*------------------BENDA DALIS--------------------------------------------------------*/

main {
    width: 1320px;
    margin: auto;
    background-color: aquamarine;
}

/*-------------------HEADER------------------------------------------------------------*/

header {
    width: 100%;
    height: 45px;
    background-color: bisque;
}

/*-------------------NAV KAIRE---------------------------------------------------------*/

nav {
    float: left;
    width: 200px;
    height: 900px;
    background-color: #1f2637;
    font-family: Arial;
}

.nav_add_a_book {
    background-color: gray;
}

/*-------------------SECTION (Desine puse)----------------------------------------------*/

section {
    width: 1120px;
    margin-left: 200px;
}

/*.......BOOK FILTER.........*/

.bookFilter {
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    font-family: Arial;
    overflow: hidden;
    background-color: #eaeef2;
}

.bookFilter p {
    padding: 13px;
    color: #52617a;
    font-size: 17px;
    border-bottom: 1px solid #d5dee8;
}

.bookFilter a {
    margin-left: 6px;
    margin-bottom: 18px;
    float: left;
    display: block;
    color: #95a7c1;
    text-align: center;
    padding: 4px 8px;
    text-decoration: none;
    font-size: 14px;
}

.bookFilter a:hover {
    background-color: #95a7c1;
    color: white;
    border-radius: 32px 32px 32px 32px;
}

.bookFilter a.active {
    background-color: #95a7c1;
    color: white;
    border-radius: 32px 32px 32px 32px;
}

.bookFilter input[type=text] {
    width: 230px;
    float: right;
    padding: 5px;
    margin-right: 6px;
    border-radius: 12px;
    border: 1px solid #c7cfd8;
    font-family: Arial;
    font-size: 14px;
    color: #95a7c1;
    background-image: url(../IMG/if_icon-111-search_314478.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

/*
@media screen and (max-width: 600px) {
    .bookFilter a, .bookFilter input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .bookFilter input[type=text] {
        border: 1px solid #ccc;
    }
}
*/

/*.......BOOKS      .........*/

.books {
    width: 100%;
    height: 780px;
    background-color: white;
    /*bp: pakeiciau is zalios*/
}

/*bp: pagrindinis konteiners*/

.books_grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 380px;
    grid-gap: 15px;
    /*BP!!!!!!!!!1 PAZIURETI, kokie tiksliai tarpai tarp grido*/
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;

    font-family: Arial;
    /*pakišti prie bendro*/
    font-size: 14px;
    /*pakišti prie bendro*/
}

.books_scroll-area {
    overflow-y: scroll;
    max-height: 730px;
}

/*bp: 1 knygos erdve*/

.books_box {
    background-color: white;
}

.books img {
    /*BP:!!!!!!!!!!!!!! DAR PAZIURETI, KAIP TEN TIKSLIAI PAVEIKSLELI SUFORMATUOTI, KAD JIS GRAZIAI UZSIPILDYTU*/
    width: 100%;
    height: 76%;
    background-size: contain;
    border-radius: 6px;
}

.books h3 {
    padding-top: 15px;
    margin: 0;
    color: #444c63;
    /*bp:parinkta su color droperiu ir color pickeriu*/
}

.books p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    color: #6f7d95;
}

.books_rating-static {
    width: 80px;
    height: 20px;
    display: block;
    background: url(../IMG/books_ratingStars.png);
}

.books_rating-0 {
    background-position: 0 0;
}

.books_rating-5 {
    background-position: 0 -17px;
}

.books_rating-10 {
    background-position: 0 -34px;
}

.books_rating-15 {
    background-position: 0 -51px;
}

.books_rating-20 {
    background-position: 0 -69px;
}

.books_rating-25 {
    background-position: 0 -86px;
}

.books_rating-30 {
    background-position: 0 -104px;
}

.books_rating-35 {
    background-position: 0 -122px;
}

.books_rating-40 {
    background-position: 0 -140px;
}

.books_rating-45 {
    background-position: 0 -157px;
}

.books_rating-50 {
    background-position: 0 -175px;
}



/*-------------------FOOTER------------------------------------------------------------*/

footer {
    clear: both;
    width: 100%;
    height: 45px;
    background-color: bisque;
}
