/*------------------BENDA DALIS--------------------------------------------------------*/

main {
    width: 1320px;
    margin: auto;
    background-color: aquamarine;
}

/*-------------------HEADER------------------------------------------------------------*/

header {
    width: 100%;
    height: 45px;
    background-color: bisque;
}

/*-------------------NAV KEIRE---------------------------------------------------------*/

nav {
    float: left;
    width: 200px;
    height: 900px;
    background-color: blueviolet;
}

/*-------------------SECTION (Desine puse)----------------------------------------------*/

section {
    width: 1120px;
    margin-left: 200px;
}

/*.......BOOK FILTER.........*/

.bookFilter {
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    font-family: Arial;
    overflow: hidden;
    background-color: #eaeef2;
}

.bookFilter p {
    padding: 13px;
    color: #52617a;
    font-size: 17px;
    border-bottom: 1px solid #d5dee8;
}

.bookFilter a {
    margin-left: 6px;
    margin-bottom: 18px;
    float: left;
    display: block;
    color: #95a7c1;
    text-align: center;
    padding: 4px 8px;
    text-decoration: none;
    font-size: 14px;
}

.bookFilter a:hover {
    background-color: #95a7c1;
    color: white;
    border-radius: 32px 32px 32px 32px;
}

/*
.bookFilter a.active {
    background-color: #95a7c1;
    color: white;
    border-radius: 32px 32px 32px 32px;
}
*/

.bookFilter input[type=text] {
    width: 230px;
    float: right;
    padding: 5px;
    margin-right: 6px;
    border-radius: 12px;
    border: 1px solid #c7cfd8;
    font-family: Arial;
    font-size: 14px;
    color: #95a7c1;
    background-image: url(../IMG/if_icon-111-search_314478.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

/*
@media screen and (max-width: 600px) {
    .bookFilter a, .bookFilter input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .bookFilter input[type=text] {
        border: 1px solid #ccc;
    }
}
*/

/*.......BOOKS      .........*/

.books {
    width: 100%;
    height: 780px;
    background-color: darkgreen;
}

/*-------------------FOOTER------------------------------------------------------------*/

footer {
    clear: both;
    width: 100%;
    height: 45px;
    background-color: bisque;
}
